<div class="QueryPage">
  <h1><%= @query.title %></h1>
  <p>uuid: <%= @query.uuid %></p>
  <pre><%= @query.body %></pre>

  <table>
  <% parse_tsv(@query.result).each do |row| %>
    <tr>
    <% row.each do |col| %>
      <td><%= col %></td>
    <% end %>
    </tr>
  <% end %>
  </table>

  <% @query.charts.each do |svg| %>
  <%=raw svg %>
  <% end %>
</div>
